:root {
 --opacity: .55;  
}
nav {
    background: linear-gradient(68deg, rgba(253,130,154,var(--opacity)) 0%, rgba(248,107,249, var(--opacity)) 74%);
    position: fixed;
    width: 100%;
    }
ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: min(2vw, 1.25em) min(4vw, 2em);
    color: white;
    position: relative;
    font-size: 1.25rem;
}
li {
    list-style: none;
    transition: letter-spacing .3s ease-in;
    text-transform: capitalize;
}
li:nth-child(2) {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    z-index: 0;
}
li:hover {
    cursor: pointer;
    letter-spacing: .1em;
}
.bold {
    font-weight: 700;
}